<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="~{/fragments/layout :: stylefrag}"></div>
</head>
<body>
<div th:insert="~{/fragments/navbar-student}"></div>

<main>

    <div class="filter">
<div>
    <h5>Активные задания</h5>
    <table class="table">
        <thead>
        <tr>

            <th scope="col">Название</th>
            <th scope="col">Дата начала</th>
            <th scope="col">Дедлайн</th>



        </tr>
        </thead>
        <tbody>
        <tr th:each="task :${tasks}">

            <td th:text="${task.getTitle()}">value</td>
            <td th:text="${task.getStart()}">value</td>
            <td th:text="${task.getDeadline()}">value</td>

            <td>
                <form th:method="GET" th:action="@{/group/{groupId}/student/tasks/{id}(id = ${task.getId()},groupId = ${group.getId()})}">
                    <input type="submit" value="Открыть страницу с заданием"/>
                </form>
            </td>


        </tr>
        </tbody>
    </table>
</div>
    </div>
</main>
</body>
</html>