<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="~{/fragments/layout :: stylefrag}"></div>

</head>
<body>


    <div th:insert="~{/fragments/navbar-teacher}"></div>

<main>

    <div class="filter">
        <h4>Активные задания</h4>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Имя студента</th>
                    <th scope="col">Название</th>
                    <th scope="col">Дата начала</th>
                    <th scope="col">Дедлайн</th>



                </tr>
                </thead>
                <tbody>
                <tr th:each="task :${tasks}">
                    <td th:each="student : ${students}" th:if="${task.getStudent()==student}" th:text="${student.getFullname()}">value</td>
                    <td th:text="${task.getTitle()}">value</td>
                    <td th:text="${task.getStart()}">value</td>
                    <td th:text="${task.getDeadline()}">value</td>


                    <td>
                        <form th:method="GET" th:action="@{/group/{groupId}/teacher/tasks/{id}(id = ${task.getId()},groupId = ${group.getId()})}">
                            <input type="submit" value="Открыть страницу с заданием"/>
                        </form>
                    </td>
                    <td>
                        <form th:method="DELETE" th:action="@{/group/{groupId}/teacher/tasks/{id}(id=${task.getId()},groupId = ${group.getId()})}">
                            <input type="submit" value="Удалить" />
                        </form>
                    </td>



                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>