<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="~{/fragments/layout :: stylefrag}"></div>

</head>
<body>

<div th:insert="~{/fragments/navbar-teacher}"></div>

<main>

    <div class="filter">

        <div>
            <form enctype="multipart/form-data" th:method="POST" th:action="@{/group/{groupId}/teacher/material(groupId = ${group.getId()})}">
                <label> Название
                    <input type="text" name="title"/>
                </label>
                <label> Описание

                    <textarea name="description" wrap="soft" rows="10" cols="60"></textarea>
                </label>
                <label> Файл
                    <input type="file" name="file"/>
                </label>
                <input type="submit" value="Загрузить">
            </form>
        </div>

        <div> <h5>Материалы</h5>
            <table class="table">
                <thead>
                <tr>

                    <th scope="col">Название</th>
                    <th scope="col">Описание</th>




                </tr>
                </thead>
                <tbody>
                <tr th:each="material :${materials}">

                    <td th:text="${material.getTitle()}">value</td>
                    <td th:text="${material.getDescription()}">value</td>



                    <td>
                        <form th:method="GET" th:action="@{/material/{id}(id = ${material.getId()})}">
                            <input type="submit" value="Скачать"/>
                        </form>

                    </td>
                    <td>
                        <form th:method="DELETE" th:action="@{/group/{groupId}/teacher/material/{id}(id = ${material.getId()},groupId = ${group.getId()})}">
                            <input type="submit" value="Удалить"/>
                        </form>

                    </td>





                </tr>
                </tbody>
            </table>
        </div>



    </div>
</main>

</body>
</html>