<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <div th:insert="~{/fragments/layout :: stylefrag}"></div>
</head>
<body>
<div th:insert="~{/fragments/navbar-teacher}"></div>


<main>
    <div class="filter">
<div>
    <div>
        <h5>Название:</h5>
        <h6 th:text="${title}"></h6>
    </div>
    <div>
        <h5>Дата начала:</h5>
        <h6 th:text="${start}"></h6>
    </div>
    <div>
        <h5>Дедлайн:</h5>
        <h6 th:text="${deadline}"></h6>
    </div>
    <h5>Активно:</h5>
    <p th:text="${statusActive}"></p>

    <div>
        <form th:method="GET" th:action="@{/group/{groupId}/teacher/stats/tasks/{code}/active(code = ${code},groupId = ${group.getId()})}">
            <input type="submit" value="Подробнее"/>
        </form>
    </div>
</div>
<div>
    <h5>Выполнено:</h5>
    <p th:text="${statusCompleted}"></p>
    <form th:method="GET" th:action="@{/group/{groupId}/teacher/stats/tasks/{code}/completed(code = ${code},groupId = ${group.getId()})}">
        <input type="submit" value="Подробнее"/>
    </form>
</div>
<div>
    <h5>Просрочено:</h5>
    <p th:text="${statusExpired}"></p>
    <form th:method="GET" th:action="@{/group/{groupId}/teacher/stats/tasks/{code}/expired(code = ${code},groupId = ${group.getId()})}">
        <input type="submit" value="Подробнее"/>
    </form>
</div>
<div>
    <h5>Завершено:</h5>
    <p th:text="${statusFinished}"></p>
    <form th:method="GET" th:action="@{/group/{groupId}/teacher/stats/tasks/{code}/finished(code = ${code},groupId = ${group.getId()})}">
        <input type="submit" value="Подробнее"/>
    </form>
</div>
<div>
    <h5>Возникли трудности:</h5>
    <p th:text="${progressStuck}"></p>
    <form th:method="GET" th:action="@{/group/{groupId}/teacher/stats/tasks/{code}/stuck(code = ${code},groupId = ${group.getId()})}">
        <input type="submit" value="Подробнее"/>
    </form>
</div>
    </div>
</main>



</body>
</html>