<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <div th:insert="~{/fragments/layout :: stylefrag}"></div>
</head>
<body>
<div th:insert="~{/fragments/navbar-teacher}"></div>

<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Имя студента</th>
            <th scope="col">Кол-во активных заданий</th>
            <th scope="col">Кол-во выполненных заданий</th>
            <th scope="col">Кол-во завершенных заданий</th>
            <th scope="col">Кол-во просроченных заданий</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="student :${students}">

            <td th:text="${student.getFullname()}">value</td>
            <td th:text="${activeCounter}">value</td>
            <td th:text="${completedCounter}">value</td>
            <td th:text="${finishedCounter}">value</td>
            <td th:text="${expiredCounter}">value</td>




        </tr>
        </tbody>
    </table>
</div>

</body>
</html>