<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="~{/fragments/layout :: stylefrag}"></div>
</head>
<body>
<div th:insert="~{/fragments/navbar-teacher}"></div>
<main>
    <div class="filter">
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Ник</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="student :${students}">
            <td th:text="${student.getFullname()}">value</td>
            <td th:text="${student.getUsername()}">value</td>

            <td>
            <form th:method="GET" th:action="@{/group/{groupId}/teacher/tasks/student/{id}/new(id = ${student.getId()},groupId = ${group.getId()})}">
                <input type="submit" value="Добавить задание"/>
            </form>
            </td>

            <td>
                <form th:method="GET" th:action="@{/group/{groupId}/teacher/tasks/student/{id}(id = ${student.getId()},groupId = ${group.getId()})}">
                    <input type="submit" value="Посмотреть задания"/>
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/group/{groupId}/teacher/students/{id}(id = ${student.getId()},groupId = ${group.getId()})}">
                    <input type="submit" value="Удалить из группы"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    </div>
</main>


</body>
</html>