<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>

    <div th:insert="~{/fragments/layout :: stylefrag}"></div>

</head>
<body>

<main>

    <div class="filter">
        <div class="already">
            <div class="container-fluid">

                <a href="/logout">Выйти</a>
                <br/>
                <a href="/profile">Профиль</a>

            </div>
            <div sec:authorize="!isAuthenticated()">
                <a href="/login">login</a>
                <a href="/registration">register</a>
            </div>
        </div>
        <div> Создайте новую группу
            <form method="post" action="/group" class="form">
                <label> Название группы
                    <input type="text" name="title" placeholder="Введите название группы" style="width: 300px">
                </label>
                <input type="submit" value="Создать">
            </form>
        </div>
        <div>Присоединиться к группе
            <form method="post" action="/find" class="form">
                <label> Введите код группы
                    <input type="text" name="code" placeholder="Введите код группы">
                </label>
                <input type="submit" value="Присоединиться">
            </form>
        </div>

        <div>
            <h5>Список созданных групп</h5>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Название</th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="groupTeacher :${groupsTeacher}">
                        <td th:text="${groupTeacher.getTitle()}">value</td>


                        <td>
                            <form th:method="GET" th:action="@{/group/{id}(id=${groupTeacher.getId()})}">
                                <input type="submit" value="Открыть"/>
                            </form>
                        </td>

                        <td>
                            <form th:method="DELETE" th:action="@{/group/{id}(id=${groupTeacher.getId()})}">
                                <input type="submit" value="Удалить" />
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <h5>Список групп, где вы состоите</h5>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Название</th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="groupStudent :${groupsStudent}">
                        <td th:text="${groupStudent.getTitle()}">value</td>


                        <td>
                            <form th:method="GET" th:action="@{/group/{id}(id=${groupStudent.getId()})}">
                                <input type="submit" value="Открыть"/>
                            </form>
                        </td>


                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>

</main>
</body>
</html>