<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <div th:insert="~{/fragments/layout :: stylefrag}"></div>



</head>
<body>
<main>
  <div class="filter">
    <div class="container-fluid">
      <div class="already">
        Еще нет аккаунта? <a href="/registration">Зарегестрироваться</a>
      </div>

      <form method="POST" action="/login">
        <label> Username
          <input type="text" name="username"/>
        </label>

        <label> Пароль
          <input type="password" name="password"/>
        </label>

        <input type="submit" value="Войти" name="login">
      </form>
    </div>
  </div>
</main>
</body>
</html>