<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
  <div th:insert="~{/fragments/layout :: stylefrag}"></div>
</head>
<body>

<main>

  <div class="filter">
    <div class="already"><a href="/">Стартовая страница</a></div>

    <form th:method="PATCH"  th:object="${user}">
      <label>Username
        <input type="text" th:value="*{username}">
      </label>
      <label>Почта
        <input type="email" th:value="*{email}">
      </label>
      <label>Имя
        <input type="text" th:value="*{firstname}">
      </label>
      <label>Фамилия
        <input type="text" th:value="*{lastname}">
      </label>
      <label>Новый Пароль
        <input type="password" placeholder="Введите Новый Пароль">
      </label>
      <label>Текущий Пароль
        <input type="password" placeholder="Введите Текущий Пароль">
      </label>



        <input type="submit" value="Сохранить">

    </form>




  </div>

</main>



</body>
</html>